  body {
      background-color: lightblue;
      font-size: 150%;
    }
    /* add CSS class and element and selectors here */

  .myClass {
      background-color: gray;
      color: blue
    }
    
    .anExampleClass {
      font-size: 325%;
      background-color: #ffeef7;
      font-family: h1 { font-family: Satisfy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Satisfy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Satisfy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Satisfy; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Satisfy; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; };
      border: 1px dotted black;
      text-transform: uppercase;
      letter-spacing: 4px;
      transition: rotate(-30)deg;
    }
  